body {
    margin:  0;
    padding: 0;

    font-size: 16px;
}

.table {
    display: table;
    width:   100%;
    height:  100%;
}
.table .cell {
    display:        table-cell;
    vertical-align: middle;
}

.grid {
    margin: 0 auto;
}

td {
    padding: 20px;
    border: 1px solid #000;
    cursor: pointer;
}

td.black {
    background-color: #000;
}

.ant {
    background-image: url("/public/images/ant.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 2em;
}

.ant._90 {
    transform: rotate(90deg);
}
.ant._180 {
    transform: rotate(180deg);
}
.ant._270 {
    transform: rotate(270deg);
}

.ant._-90 {
    transform: rotate(-90deg);
}
.ant._-180 {
    transform: rotate(-180deg);
}
.ant._-270 {
    transform: rotate(-270deg);
}

.console {

    position: fixed;
    top:      0;
    width:    100%;
    height:   60px;

    box-shadow: 1px 1px 1px #e0e0e0;

    background-color: #fff;

    text-align: center;
}